/*
* @Author: Zihao Tao
* @Date:   2019-06-19 20:18:13
* @Last Modified by:   Zihao Tao
* @Last Modified time: 2019-06-19 20:22:30
*/
.logo-container {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
}